/* Slider controller */
.carousel-controller {
  display: flex;
  justify-content: flex-end;

  .slick-disabled {
    color: $eos-carousel-controller-disabled-color;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Hide the template when rendered */
.news-card-container {
  visibility: hidden;
}

/* Featued cards style inside carousel.
  ========================================================================== */
.featured {
  box-shadow: none;
  display: flex;
  margin: 0;

  h3 {
    color: $eos-bc-gray-900;
  }

  .card-content {
    z-index: $eos-zindex-middle;
  }

  /* Video and Article  */
  &.video-content,
  &.article-content {
    border: 1px solid;
    border-bottom: 5px solid;

    &:before {
      background-repeat: no-repeat;
      content: ' ';
      display: block;
      height: $eos-carousel-featured-video-article-icon-size;
      left: $eos-carousel-featured-video-article-icon-left;
      opacity: $eos-carousel-featured-video-article-icon-opacity;
      position: absolute;
      top: $eos-carousel-featured-video-article-icon-top;
      width: $eos-carousel-featured-video-article-icon-size;
      z-index: 0;
    }
  }

  &.video-content {
    &:before {
      background-image: $eos-carousel-featured-video-image;
    }
  }

  &.article-content {
    &:before {
      background-image: $eos-carousel-featured-article-image;
    }
  }

  header {
    color: $eos-bc-gray-900;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $eos-l $eos-l $eos-s $eos-l;
    text-transform: none;

    .card-date-holder {
      align-items: center;
      display: flex;
    }
  }

  /* Footer card in slider */
  footer {
    align-items: center;
    bottom: -50px;
    color: $eos-carousel-card-footer-color;
    display: flex;
    font-weight: bold;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: $eos-carousel-card-footer-width;
    z-index: $eos-zindex-top;
  }

  &:hover {
    footer {
      bottom: 0px;
      opacity: $eos-carousel-card-footer-opacity;
    }
  }

  .hidden-sd {
    @media screen and (max-width: $eos-sd-max) {
      display: none;
    }

    @media screen and (min-width: $eos-md-min)  {
      display: flex;
    }
  }

  .visibile-sd {
    @media screen and (max-width: $eos-sd-max) {
      display: flex;
    }
    @media screen and (min-width: $eos-md-min)  {
      display: none;
    }
  }
}
