/* Dropdown variables
   ========================================================================== */
/**
* Colors
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
*/
$eos-dropdown-shadow: 0 6px 12px rgba(0, 0, 0, .175);

/* secondary button */
$eos-btn-secondary-dropdown-color: $eos-bc-gray-1000;
$eos-btn-secondary-dropdown-color-active: $eos-bc-gray-500;

/* Primary button */
$eos-btn-primary-dropdown-color: $eos-bc-green-500;
$eos-btn-primary-dropdown-color-active: $eos-bc-green-700;
$eos-btn-primary-dropdown-text-color: $eos-bc-white;

/* Danger button */
$eos-btn-danger-dropdown-color: $eos-bc-red-500;
$eos-btn-danger-dropdown-text-color: $eos-bc-white;
$eos-btn-danger-dropdown-color-active: $eos-bc-red-700;
