/* Icons set
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-icon-set-height: $eos-xl;
$eos-icon-set-list-margin-top: $eos-xxl;

// Tablet/mobile
$eos-icon-set-icon-set-utility-col-size: $eos-xxl;
$eos-icon-set-icon-set-utility-input-size:  80%;
$eos-icon-set-icon-display-width: 140px;

/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-icon-set-border: 1px solid $eos-bc-gray-200;

/* Buttons group */
$eos-icons-btn-group-max-height: $eos-xl;
$eos-icons-btn-group-a-margin: $eos-s;
$eos-icons-btn-group-a-image-width: 25px;
$eos-icons-btn-group-a-span-margin: $eos-s;
