/* Alerts
  ========================================================================== */
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-alerts-card-height: 445px;
$eos-alerts-card-figure: 276px;
$eos-alert-card-description-height: 65px;
$eos-alerts-demo-figure-max-width: 428px;
$eos-alert-icon-examples-li-i-margin: $eos-m;
$eos-alert-icon-examples-li-margin: $eos-s;

/* Spacing variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-alert-icon-examples-li-i-color: $eos-bc-white;
$eos-alert-icon-examples-li-success-color: $eos-bc-green-500;
$eos-alert-icon-examples-li-info-color: $eos-bc-cerulean-500;
$eos-alert-icon-examples-li-warning-color: $eos-bc-yellow-900;
$eos-alert-icon-examples-li-danger-color: $eos-bc-red-500;
